{
  "CN": "kubernetes",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names":[{
    "C": "{{ ca_country }}",
    "ST": "{{ ca_state }}",
    "L": "{{ ca_city }}",
    "O": "{{ ca_organization }}",
    "OU": "{{ ca_organization_unit }}"
  }]
}
