{
  "CN": "kubernetes",
  "hosts": [
    "127.0.0.1",
    "{{ ansible_default_ipv4['address'] }}",
    "kubernetes",
    "kubernetes.default",
    "kubernetes.default.svc",
    "kubernetes.default.svc.cluster",
    "kubernetes.default.svc.cluster.local"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [{
    "C": "{{ ca_country }}",
    "ST": "{{ ca_state }}",
    "L": "{{ ca_city }}",
    "O": "{{ ca_organization }}",
    "OU": "{{ ca_organization_unit }}"
  }]
}
